.overlay_win {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.overlay_win .win {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 640px;
    min-height: 480px;
    width: 95%;
    height: 90%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-style: solid;
    border-color: white;
    color: white;
}

.overlay_win .win .data-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}

.overlay_win .win .button-panel {
    top: 90%;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 5px 5px 5px 5px;
    margin: auto;
    white-space: nowrap;
}

.overlay_win .win .button-panel button {
    display: inline-block;
    width: 50%;
    height: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px 10px 10px 10px; 
    background-color: #DDD;
    transition: 0.3s;
}

.overlay_win .win .button-panel  button:hover {
    background-color: #FFF;
}

.overlay_win .win .button-panel  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: white;
}

#tree {
    float: left;
    left: 0;
    top: 0;
    min-width: 160px;
    width: 25%;
    height: 100% !important;
    overflow-y: scroll;
}

#repoloader_desc {
    float: right;
    right: 0;
    top: 0;
    min-width: 480px;
    min-height: 480px;
    width: 75%;
    height: 100% !important;
    overflow-y: scroll;
    color: white;
    padding: 5px 5px 5px 5px;
}

#repoloader_depends_desc {
    text-align: center;
    overflow-y: scroll;
    color: white;
    padding: 5px 5px 5px 5px;
}

#repoloader_depends_desc p {
    font-size: xx-large !important;
}
    
/* Some katex fixes. shadow-katex seems to use an older version of katex, which
 * considers some older styles, which shall be replaced here
 */
.katex .mathdefault {
    font-family: KaTeX_Math;
    font-style: italic;
}
